<FilesMatch "\.json$">
    Header set Content-Type application/json
    Header set Cache-Control "no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires 0
</FilesMatch>

<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE application/json
</IfModule>
